{{header}}

<h1>Administrator Menu</h1>

<--Grant admin-->
<form method="post" action="grantAdmin">
    <p><label>Username:</label><input type="text" name="uname">
        <button type="submit">Submit</button></p>
</form>

<--Delete account-->
<form method="post" action="deleteAccount">
    <p><label>Username:</label><input type="text" name="uname">
        <button type="submit">Submit</button></p>
</form>

<--Delete comment-->
<form method="post" action="deleteComment">
    <p><label>Post ID:</label><input type="text" name="postid">
        <button type="submit">Submit</button></p>
</form>

<--Delete review-->
<form method="post" action="deleteReview">
    <p><label>Post ID:</label><input type="text" name="reviewid">
        <button type="submit">Submit</button></p>
</form>

{{footer}}