{{> header.hbs }}

<h2>Welcome!  You have successfully logged in!</h2>

<ul>
    <li><a href="/user/home">Go to user homepage!</a></li>
    <li> <a href="/critic/home">Go to critic homepage!</a></li>
    <li> <a href="/admin/home">Go to admin homepage!</a></li>
</ul>


{{> footer.hbs }}