{{header}}

<h1>Welcome to the User home</h1>

<a href="/movies">See what movies are on the website</a>
<br>
<a href="/movieReviews">See what movies have reviews for them</a>
<br>

<h1>Search for a movie: </h1>
<form method="post" action="searchMovie">
    <p><label>Enter a movie name:</label><input type="text" name="movie"> </p>
    <p><button type="submit">Submit</button></p>
</form>

<h1>Find a movie and see comments about it: </h1>
<form method="post" action="moviesAndComments">
    <p><label>Enter a movie name:</label><input type="text" name="movie"> </p>
    <p><button type="submit">Submit</button></p>
</form>




{{footer}}